.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*{
    box-sizing: border-box;
     margin: 0;
     padding: 0;
}
body{
    width: 325px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin: 75px auto;
    background-color: hsl(204, 43%, 93%);
}
p {
    font-size: 14px;
}
main{
    background-color: white;
    border-radius: 5px;
}
.join {
    padding: 25px;
    color: hsl(218, 22%, 67%);
    
}
.join h2{
    color: hsl(179, 62%, 43%);
    margin-top: 10px;
    margin-bottom: 25px;
}
.join h3{
    color: hsl(71, 73%, 54%);
    margin-bottom: 25px;
}
.join p{
    font-size: 14px;
    line-height: 1.7em;
}

.div2{
    color: white;
}
.div2 .monthly-subscription{
    background-color: hsl(179, 62%, 43%);
    padding: 25px;
}
.monthly-subscription span{
    font-size: 32px;
    vertical-align: middle;
    color: white;
   
}
.change-p-color{
    color: hsl(204, 43%, 93%, 0.95);
    margin-bottom: 30px;
    margin-top: 10px;
}
.inline-p{
    display: inline;
    /* margin-top: -15px; */
    vertical-align: middle;
    color: #30cfcc;
    /* margin-bottom: 30px; */
    /* padding-bottom: 25px; */
}
.monthly-subscription h3{
    margin-bottom: 20px;
}
button{
    width: 275px;
    /* max-width: 100%; */
    background: none;
	color: inherit;
	border: none;
	padding: 15px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    /* border: 2px solid hsl(0, 0%, 95%); */
    border-radius: 5px;
    background-color: hsl(71, 73%, 54%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.div2 .why-us{
    color: hsl(204, 43%, 93%, 0.85);
    /* color: hsl(218, 22%, 67%); */
    background-color: #30cfcc;
    padding: 25px;
    border-radius: 0px 0px 5px 5px;
}
.div2 .why-us h3{
    color: hsl(204, 43%, 93%);
    /* font-size: 15px; */
    margin-bottom: 20px;
}

.div2 .why-us p{
    line-height: 1.6em;
}
button:hover{
    /* color: hsl(71, 73%, 54%); */
    background-color:#839a18;
    /* background-color: #30cfcc; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

@media screen and (min-width:960px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        width: 650px;
        margin: 150px auto;
        font-size: 16px;
    }
    .div2{
        height: auto;
        overflow: auto;
        margin-top: 10px;
    }
    .join{
        /* padding: 50px 40px ; */
        padding-left: 40px;
    }
    .div2 .monthly-subscription, .div2 .why-us{
        padding-left: 40px;
        padding-top: 40px;
    }
    .monthly-subscription, .why-us{
        /* display: inline-block; */
        width: 325px;
        height: 275px;
        margin-top: 0px;
        float: left;
        /* padding: 50px 40px 50px 40px; */
    }
    .why-us{
        /* margin-left: -4px;
        margin-top: 10px; */
        padding-left: 40px;
        line-height: 1.3em;
    }
    .monthly-subscription{
        /* margin-top: 0px; */
        padding-left: 40px;
    }
    button {
        width: 215px;
    }
    .div2 .why-us{
        border-radius: 0px 0px 5px 0px;
    }
    .div2 .monthly-subscription{
        border-radius: 0px 0px 0px 5px;
    }
}